@model RegisterationRequestDto
<div class="container mt-5">
	<form method="post">
		<div class="justify-content-center border border-primary align-items-center rounded">
			<div class="row text-center">
				<h1 class="text-primary pt-5">Login</h1>
			</div>
			<div class="row text-center pb-4">
				<div asp-validation-summary="All" class="text-danger"></div>
			</div>
			<div class="row">
				<div class="col-6 offset-md-3 pb-2">
					<input asp-for="UserName" class="form-control" placeholder="Name..." />
				</div>
				<div class="col-6 offset-md-3 pb-2">
					<input asp-for="phoneNumber" class="form-control" placeholder="Phone Number..." />
				</div>
				<div class="col-6 offset-md-3 pb-2">
					<input asp-for="Email" class="form-control" placeholder="Email..." />
				</div>
				<div class="col-6 offset-md-3 pb-2">
					<input asp-for="Password" class="form-control" placeholder="Password..." />
				</div>
				<div class="col-6 offset-md-3 pb-5 pt-3">
					<button type="submit" class="form-control btn btn-success" value="Submit">Register</button>
				</div>
			</div>
		</div>
	</form>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial.cshtml" />
}